header{
    color: orangered;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    padding: 10px;
}
.question-item {
    font-size: 22px;
    color: black;
    font-kerning: auto;
    font-style: oblique;
    width: 600px;

}
.post-question {
    text-align: center;
}
.questions{
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-kerning: auto;
}
.topnav{
    background-image: url(book2.jpg);
    overflow: hidden;
  }
  .topnav a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: left;
    color:greenyellow;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav a:hover {
    background-color: cyan;
    color: black;
  }
  .topnav a.active {
    background-color: aqua;
    color: black;
  }
