
/* Bordered form */
form {
    padding:  50px 380px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    width: 100%;
  }
  * {box-sizing: border-box}
    input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 10px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color:silver;
    outline: orangered;
    outline-style: dashed;
    outline-width: 0.01vmin;
  }
  
  button {
    background-color: aqua;
    color: orangered;
    padding: 14px 20px;
    margin: 0px;
    border: none;
    cursor: pointer;
    width: 30%;
    opacity: 0.9;
  }
  
  button:hover {
    color: black;
  }
  
  
  .cancelbtn {
    padding: 14px 20px;
    background-color: silver;
    margin: 0px;
  }
  
  .cancelbtn, .signupbtn {
    float: left;
    width: 30%;
    
  }
  
  .container {
    padding: 16px;
  }
  
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .topnav{
<<<<<<< HEAD
    background-color: yellowgreen;
=======
    background-image: url(book2.jpg);
>>>>>>> 5721015e98351d22da69eb48797bb0d23bf375f9
    overflow: hidden;
  }
  .topnav a {
    float: left;
    color:greenyellow;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav a:hover {
    background-color: cyan;
    color: black;
  }
  .topnav a.active {
    background-color: aqua;
    color: black;
  }
  
  